body {
  background: url(../images/afkArena.jpg) center;
}
/*----------------------------------Main display----------------------------------*/
.section {
  width: 100%;
}
.principal-elements {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}
/*-----------------------------------Form display------------------------------*/
#form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1em 3em;
}
.form-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid blue;
}
.form-content-left {
  font-size: 1.5em;
}
.form-content-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.form-content-right * {
  flex: 0 0 35%;
}
.form-content-right input {
  width: 2em;
  height: 2em;
  margin-top: 0.4em;
}

#btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
/*-----------------------------shower display------------------------*/
#shower {
  display: flex;
  flex-wrap: wrap;
}
.hero-card {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  padding: 0.5em;
  width: 25%;
  border: 1px solid blue;
  border-radius: 25px;
  margin-top: 0.5em;
}
.hero-card:not(:last-child) {
  margin-right: 0.5em;
}
.hero-card h2 {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid blue;
  margin-bottom: 0.2em;
}
.equipment {
  color: red;
}
/*-----------------------------alert message display------------------------*/
.message-alert {
  font-size: 3em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
/*-----------------------------queries fixes------------------------*/
@media screen and (max-width: 480px) {
  .section {
    width: 100%;
  }
  #form {
    padding-left: 0.5em;
    margin: 0;
  }
  .principal-elements {
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .section {
    max-width: 80%;
    margin: 0 auto;
  }
  .form-content-right {
    font-size: 1.3em;
  }
  .form-content-right input {
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
  .form-content-left {
    font-size: 2em;
  }
}
@media screen and (min-width: 1020px) {
  .principal-elements {
    width: 60%;
  }
}
