body {
  background: url(../images/afkArena.jpg) center;
}
.section {
  width: 100%;
  /* height: 60vh; */
  /* border: 1px solid black; */
}
.principal-elements {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  background-color: rgba(255, 255, 255, 0.8);
}
#form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* height: 40vh; */
  /* border: 1px solid yellow; */
  padding: 1em 3em;
}
.form-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid blue;
}
.form-content-left {
  font-size: 1.5em;
}
.form-content-right {
  display: flex;
  /* font-size: 1.5em; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.form-content-right * {
  flex: 0 0 35%;
}
.form-content-right input {
  width: 2em;
  height: 2em;
  margin-top: 0.4em;
}
#form label {
  /* width: 30%;
  margin-left: 3em;
  padding-top: 2em;
  /* border: 1px solid green; */
  /* text-align: center; */
}
#form input {
  /* width: 50%;
  /* border: 1px solid red; */
  /* align-self: center; */
}
#btn-container {
  /* height: 10vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
@media screen and (min-width: 720px) {
  .section {
    max-width: 80%;
    margin: 0 auto;
  }
  .form-content-right {
    font-size: 1.5em;
  }
  .form-content-right input {
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
  .form-content-left {
    font-size: 2em;
  }
}
@media screen and (min-width: 1020px) {
  .principal-elements {
    width: 60%;
  }
}
